<%= simple_form_for [:admin, @product], wrapper: :horizontal_form, html: { class: "form-horizontal" } do |f| %>
	<%= f.input :tw_name %>
	<%= f.input :foreign_name %>
	<%= f.association :category %>
	<%= f.input :origin %>
	<%= f.input :description, as: :text, input_html: { rows: 8 } %>
	<hr>

	<dl class="col-xs-12 col-sm-offset-2 col-sm-5 col-lg-offset-2 col-lg-4">
		<dt>本日匯率</dt>
		<dd><i class="fa fa-yen"></i> <strong>1</strong> 日圓 ＝ NT$ <strong id="today_currency_hint">0.0</strong></dd>
	</dl>
	<div class="clearfix"></div>

	<%= render partial: "admin/partials/input_group_with_number_pad", locals: { f: f, attr_sym1: :rr_price, attr_sym2: :local_rr_price } %>
	<%= render partial: "admin/partials/input_group_with_number_pad", locals: { f: f, attr_sym1: :ws_price, attr_sym2: :local_ws_price } %>

	<dl class="col-xs-12 col-sm-offset-6 col-sm-5 col-lg-offset-5 col-lg-4 text-right">
		<dt>目前毛利</dt>
		<dd>
			NT$<code id="product_gross_profit">0</code>元
			，約<code id="product_gross_profit_percentage">0</code>%
		</dd>
	</dl>
	<div class="clearfix"></div>

	<hr>
	<div class="form-group">
		<%= label_tag "運送類型", nil, class: "col-xs-12 col-sm-2 col-lg-2 control-label" %>
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
		  <%= select_tag :shipping_method, options_for_select([ "空運", "海運" ], "海運"), class: "form-control" %>
		</div>
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
		  <%= select_tag :shipping_type, options_for_select([ "雜貨", "藥品", "食品", "家電" ], "雜貨"), class: "form-control" %>
		</div>
		<div class="col-xs-2 col-sm-1 text-center text-v-center ph-0"><i class="fa fa-arrow-right"></i></div>
		<div class="col-xs-10 col-sm-4 col-lg-3 text-v-center">
			運費計算：390 元 / 公斤
		</div>
	</div>
	<div class="form-group">
		<%= f.label :shipping_weight, class: "col-xs-12 col-sm-2 col-lg-2 control-label" %>
		<div class="col-xs-12 col-sm-4 col-lg-4">
		  <div class="input-group">
		  	<%= number_pad_input(:shipping_weight, f) %>
		    <span class="input-group-addon">g</span>
		  </div>
		</div>
		<div class="col-xs-2 col-sm-1 text-center text-v-center ph-0"><i class="fa fa-arrow-right"></i></div>
		<div class="col-xs-10 col-sm-4 col-lg-3">
		  <div class="input-group">
		    <span class="input-group-addon">NT$</span>
		    <%= number_pad_input(:shipping_fee) %>
		  </div>
		</div>
	</div>

	<hr>

	<%= short_input_with_number_pad(f, :stock) %>

	<div class="col-sm-offset-2 col-lg-offset-2">
		<%= f.button :submit, class: "btn btn-primary" %>
	</div>
<% end %>
<% # TODO 此處載入當日匯率，提示就會根據此值顯示，欄位計算也是 %>
<%= hidden_field_tag :today_currency, "0.283" %>
<script type="text/javascript">

	$(document).on("turbolinks:load", function() {
		// 將匯率提示更新為伺服器當日匯率 %>
		var today_currency = $("#today_currency").val()
		$("#today_currency_hint").html(today_currency)
	})
	// 以下四段為外幣台幣互換
	$("body.admin").on("input", "input#product_rr_price", function() {
		var today_currency = $("#today_currency").val()
		$("input#local_rr_price").val( Math.round($(this).val() * today_currency) ).trigger("change")
	})
	$("body.admin").on("input", "input#product_ws_price", function() {
		var today_currency = $("#today_currency").val()
		$("input#local_ws_price").val( Math.round($(this).val() * today_currency) ).trigger("change")
	})
	$("body.admin").on("input", "input#local_rr_price", function() {
		var today_currency = $("#today_currency").val()
		$("input#product_rr_price").val( Math.round($(this).val() / today_currency) )
	})
	$("body.admin").on("input", "input#local_ws_price", function() {
		var today_currency = $("#today_currency").val()
		$("input#product_ws_price").val( Math.round($(this).val() / today_currency) )
	})
	// 以上四段為外幣台幣互換
	$("body.admin").on("input change", "input#local_rr_price, input#local_ws_price", function() {
		update_product_gross_profit_and_percentage()
	})

	function update_product_gross_profit_and_percentage() {
		var ws_price = $("input#local_ws_price").val()
		var rr_price = $("input#local_rr_price").val()
		if ((ws_price.length > 0) && (rr_price.length > 0)) {
			$("#product_gross_profit").html( rr_price - ws_price )
			$("#product_gross_profit_percentage").html( Math.round( (rr_price - ws_price) / rr_price * 1000 ) / 10 )
			if (parseInt(rr_price) > parseInt(ws_price)) {
				$("#product_gross_profit, #product_gross_profit_percentage").addClass("bg-success text-success")
			} else {
				$("#product_gross_profit, #product_gross_profit_percentage").removeClass("bg-success text-success")
			}
		} else {
			$("#product_gross_profit, #product_gross_profit_percentage").removeClass("bg-success text-success").html("0")
		}
	}
</script>