<%= form_with model: [:admin, @product], local: true, html: { class: "form-horizontal" } do |f| %>
	<div class="row">
		<% @product.errors.messages.each do |col, message| %>
			<% if message.present? %>
				<div class="alert alert-danger col-lg-offset-2 col-lg-8" role="alert">
					<%= message %>
				</div>
			<% end %>
		<% end %>
	</div>
	<div class="form-group render">
		<%= f.label :tw_name, class: "col-lg-2 control-label" %>
		<div class="col-lg-6">
			<%= f.text_field :tw_name, class: "form-control" %>
			<%= @product.errors.full_messages_for(:tw_name).join(", ") if @product.errors.include? :tw_name %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :foreign_name, class: "col-lg-2 control-label" %>
		<div class="col-lg-6">
			<%= f.text_field :foreign_name, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :category, class: "col-lg-2 control-label" %>
		<div class="col-lg-4">
			<%= f.select :category_id, Category.all.collect { |c| [c.name, c.id] }, {}, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :origin, class: "col-lg-2 control-label" %>
		<div class="col-lg-4">
	    <%= f.text_field :origin, class: "form-control" %>
	  </div>
	</div>
	<div class="form-group">
		<%= f.label :description, class: "col-lg-2 control-label" %>
		<div class="col-lg-8">
	    <%= f.text_area :description, class: "form-control" %>
	  </div>
	</div>
	<hr>
	<div class="col-lg-offset-2">
		<p>本日匯率：1 日圓 ＝ 0.29 新台幣</p>
	</div>
	<div class="form-group">
		<%= f.label :rr_price, class: "col-lg-2 control-label" %>
		<div class="col-lg-2 pr-0">
		  <div class="input-group">
		    <span class="input-group-addon"><i class="fa fa-yen"></i></span>
		    <%= f.text_field :rr_price, class: "form-control" %>
		  </div>
		</div>
		<div class="col-md-1 text-center" style="padding: 9px 0px;">等於</div>
		<div class="col-lg-2 pl-0">
		  <div class="input-group">
		    <span class="input-group-addon">NT$</span>
		    <%= text_field_tag :local_rr_price, nil, class: "form-control" %>
		  </div>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :ws_price, class: "col-lg-2 control-label" %>
		<div class="col-lg-2 pr-0">
		  <div class="input-group">
		    <span class="input-group-addon"><i class="fa fa-yen"></i></span>
		    <%= f.text_field :ws_price, class: "form-control" %>
		  </div>
		</div>
		<div class="col-md-1 text-center" style="padding: 9px 0px;">等於</div>
		<div class="col-lg-2 pl-0">
		  <div class="input-group">
		    <span class="input-group-addon">NT$</span>
		    <%= text_field_tag :local_ws_price, nil, class: "form-control" %>
		  </div>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :shipping_weight, class: "col-lg-2 control-label" %>
		<div class="col-lg-4">
		  <div class="input-group">
		    <%= f.text_field :shipping_weight, class: "form-control" %>
		    <span class="input-group-addon">公克（g)</span>
		  </div>
		 </div>
		 <div class="col-md-2 text-center" style="padding: 9px 0px;">運費約 NTD 78 元</div>
	</div>
	<div class="col-lg-offset-2">
		<p>批發價 ＋ 運費 ＝ 389 元</p>
	</div>
	<hr>
	<div class="form-group">
		<%= f.label :stock, class: "col-lg-2 control-label" %>
		<div class="col-lg-2">
	    <%= f.text_field :stock, class: "form-control", placeholder: "不限量" %>
	  </div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-4">
			<p class="help-block">請確認上述商品資料無誤</p>
			<%= f.submit "儲存商品資料", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>